.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 1);
  padding: 10px;
  border-radius: 10px;
  color: gray;
  &:hover {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 3px rgba(201, 201, 201, 1);
  }
  .title {
    margin-bottom: 10px;
  }
  .chartGrid {
    stroke: lightgray;
  }
}
